/* STYLE */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600,900");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
.black:not(.btn) {
  color: #464749 !important;
}

.cyan:not(.btn) {
  color: #16b7ff !important;
}

.teal:not(.btn) {
  color: #08c9c2 !important;
}

.purple:not(.btn) {
  color: #7f3eff !important;
}

.pink:not(.btn) {
  color: #ff0bba !important;
}

.red:not(.btn) {
  color: #f72555 !important;
}

.bergundy:not(.btn) {
  color: #ae0e26 !important;
}

.apricot:not(.btn) {
  color: #fcab05 !important;
}

.navy:not(.btn) {
  color: #1927e4 !important;
}

.green:not(.btn) {
  color: #16ba54 !important;
}

.blue:not(.btn) {
  color: #2774f8 !important;
}

.watermelon:not(.btn) {
  color: #f82a5f !important;
}

.maroon:not(.btn) {
  color: #7f0909 !important;
}

body {
  font-family: "Lato", Arial, san-serif;
}

h1, h2, h3, h4 {
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  color: #b0b4b7;
}

h1 a {
  text-decoration: none;
  color: #464749;
}

body {
  color: #464749;
  padding: 0;
  margin: 0;
}

.intro > .segment,
.contain,
.container,
.segments {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

.segments {
  padding: 1rem 0;
}

.segment {
  padding: 1rem 0 2rem 3rem;
  margin: 0;
  border-left: 6px solid #eff1f1;
  position: relative;
}

.segment:last-child {
  border-bottom: 0;
}

.segment h2 {
  padding: 0 0 2rem;
  margin: 0;
  font-size: 2rem;
}

.segment h2 .no {
  color: #d2d7da;
  background: #fff;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  left: -2rem;
  width: 2rem;
  padding: 1rem;
}

.segment h2 .no i {
  font-size: 80%;
}

.segment p {
  font-size: 1.2rem;
}

.youtube {
  background-size: cover;
  position: relative;
  outline: 1px solid #fff;
  outline-offset: -1px;
  border-radius: 0.1rem;
}

.youtube:after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.youtube i {
  font-size: 6rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3rem 0 0 -3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.youtube:hover {
  cursor: pointer;
}

.youtube:hover::after {
  background: rgba(0, 0, 0, 0.01);
}

.youtube:hover i {
  transform: scale(1.1);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.intro {
  background: #f5f7f8;
  padding: 3rem 0;
}

.intro .segment {
  padding-left: 18rem;
  margin-bottom: 3rem;
  min-height: 20rem;
}

.intro .segment .youtube {
  width: 13rem;
  position: absolute;
  top: 0;
  left: 3rem;
  border-radius: 0;
  height: 18rem;
}

.intro .segment .youtube i {
  font-size: 2.5rem;
  margin: -1.25rem 0 0 -1.25rem;
}

.intro h1 {
  font-size: 2rem;
  color: #717b81;
}

.intro h1 a {
  color: #464749;
}

.intro h2 {
  font-size: 1.4rem;
}

.intro .meta p {
  font-size: 1rem;
  color: #717b81;
}

.intro .meta p i {
  margin-right: 0.5rem;
  width: 1.5rem;
  text-align: center;
}

.resources h2 {
  padding-bottom: 0;
}

.resources .resource {
  background: #f7f9fa;
  margin: 0.5rem 0;
  border-radius: 0.1rem;
  padding: 1rem 1.5rem 1rem 4rem;
  position: relative;
  display: block;
  text-decoration: none;
}

.resources .resource > i {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 2rem;
  font-size: 2rem;
  color: #b0b4b7;
}

.resources .resource > h4 {
  font-size: 1.2rem;
  text-decoration: none;
  color: #2793f8;
  font-weight: normal;
}

.resources .resource > p {
  font-size: 0.8rem;
  color: #717b81;
}

.resources .resource:hover {
  outline: 1px solid #2793f8;
}

.fat_nav {
  z-index: 5000;
  top: -1px;
  background: #fff;
  margin-bottom: calc(50vh - 6rem);
  display: block;
}

.fat_nav.marginless {
  margin-bottom: 0;
}

.fat_nav .contain {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.fat_nav a {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  margin: 0 0.5rem 0 0;
  text-decoration: none;
  border-radius: 1rem;
  border-color: transparent;
  color: #b0b4b7;
}

.fat_nav a.active {
  background: #f5f7f8;
  border-color: #eff1f1;
  color: #717b81;
}

.fat_nav a.top {
  padding: 0.5rem 0;
  text-align: center;
  width: 0;
  overflow: hidden;
  margin: 0 0 0 -1.5rem;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.fat_nav a.top i {
  margin-right: 0;
}

.fat_nav a.top:not(.active) {
  width: 4rem;
  margin: 0 1rem 0 0;
  opacity: 1;
}

.fat_nav a .txt i {
  color: #d2d7da;
  font-size: 70%;
  margin: 0 0 0 0.25rem;
}

.fat_nav a:hover .txt i {
  color: #717b81;
}

.fat_nav a .txt i:hover {
  color: #fcab05;
}

.fat_nav a i {
  margin-right: 0.5rem;
}

.fat_nav a:hover {
  background: #f5f7f8;
}

.fat_nav a.btn {
  color: #fff;
}

.fat_nav a.btn-watermelon:hover {
  background: #d10c3f;
  color: #fff;
}

.fat_nav a.right {
  float: right;
}

@media (max-width: 575px) {
  .fat_nav .contain {
    flex-direction: column;
  }
}
.fat_nav.lefty {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  justify-content: center;
  background: transparent;
  width: 6rem;
  overflow: visible;
}

.fat_nav.lefty a {
  margin-right: 0 !important;
  white-space: nowrap;
  border: none;
}

.fat_nav.lefty a i {
  margin-right: 0;
  width: 2rem;
  text-align: center;
}

.fat_nav.lefty a .txt {
  display: none;
}

.fat_enroller {
  position: sticky;
  top: 0;
  display: none;
}

.fat_nav .enrol {
  margin: 0 0 0 auto;
}

.fat_nav .enrol {
  position: sticky;
  top: 0;
}

/*# sourceMappingURL=fit.css.map */
